In [4]:
import numpy as np
import pandas as pd

In [9]:
dataset=pd.read_csv(r"C:\Users\srika\Desktop\btech subjects\sri ml\bank.csv")

In [10]:
dataset.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes

In [11]:
dataset.isnull().any()

age          False
job          False
marital      False
education    False
default      False
balance      False
housing      False
loan         False
contact      False
day          False
month        False
duration     False
campaign     False
pdays        False
previous     False
poutcome     False
deposit      False
dtype: bool

In [13]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11162 entries, 0 to 11161
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        11162 non-null  int64
 1   job        11162 non-null  object
 2   marital    11162 non-null  object
 3   education  11162 non-null  object
 4   default    11162 non-null  object
 5   balance    11162 non-null  int64
 6   housing    11162 non-null  object
 7   loan       11162 non-null  object
 8   contact    11162 non-null  object
 9   day        11162 non-null  int64
 10  month      11162 non-null  object
 11  duration   11162 non-null  int64
 12  campaign   11162 non-null  int64
 13  pdays      11162 non-null  int64
 14  previous   11162 non-null  int64
 15  poutcome   11162 non-null  object
 16  deposit    11162 non-null  object
dtypes: int64(7), object(10)
memory usage: 1.4+ MB

In [14]:
x=dataset.iloc[:,4:16]
y=dataset.iloc[:,16]

In [15]:
x

,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown
1,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown
2,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown
3,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown
4,no,184,no,no,unknown,5,may,673,2,-1,0,unknown
...,...,...,...,...,...,...,...,...,...,...,...,...
11157,no,1,yes,no,cellular,20,apr,257,1,-1,0,unknown
11158,no,733,no,no,unknown,16,jun,83,4,-1,0,unknown
11159,no,29,no,no,cellular,19,aug,156,2,-1,0,unknown
11160,no,0,no,yes,cellular,8,may,9,2,172,5,failure
11161,no,0,no,no,cellular,9,jul,628,1,-1,0,unknown

In [10]:
x=dataset.iloc[:,4:16].values
y=dataset.iloc[:,16].values

In [11]:
x

array([['no', 2343, 'yes', ..., -1, 0, 'unknown'],
       ['no', 45, 'no', ..., -1, 0, 'unknown'],
       ['no', 1270, 'yes', ..., -1, 0, 'unknown'],
       ...,
       ['no', 29, 'no', ..., -1, 0, 'unknown'],
       ['no', 0, 'no', ..., 172, 5, 'failure'],
       ['no', 0, 'no', ..., -1, 0, 'unknown']], dtype=object)

In [23]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
ct=ColumnTransformer([("oh",OneHotEncoder(),[0,2,3,4,6,11])],remainder="passthrough")
#coverts data into binary form

x=ct.fit_transform(x)

In [24]:
x

array([[  1.,   0.,   0., ...,   1.,  -1.,   0.],
       [  1.,   0.,   1., ...,   1.,  -1.,   0.],
       [  1.,   0.,   0., ...,   1.,  -1.,   0.],
       ...,
       [  1.,   0.,   1., ...,   2.,  -1.,   0.],
       [  1.,   0.,   1., ...,   2., 172.,   5.],
       [  1.,   0.,   1., ...,   1.,  -1.,   0.]])

In [25]:
x.shape

(11162, 31)

In [27]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=100)

In [28]:
x_train.shape

(8929, 31)

In [29]:
x_test.shape

(2233, 31)

In [30]:
x_test

array([[  1.,   0.,   0., ...,   1., 302.,   3.],
       [  1.,   0.,   0., ...,   2.,  -1.,   0.],
       [  1.,   0.,   1., ...,   1.,  94.,   3.],
       ...,
       [  1.,   0.,   0., ...,   1., 296.,   1.],
       [  1.,   0.,   1., ...,   1.,  -1.,   0.],
       [  1.,   0.,   1., ...,   3.,  -1.,   0.]])

In [31]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()
lr.fit(x_train,y_train)

C:\Users\srika\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [33]:
ypred=lr.predict(x_test)

In [34]:
ypred

array(['yes', 'no', 'yes', ..., 'no', 'yes', 'yes'], dtype=object)

In [35]:
y_test

1402     yes
9326      no
3380     yes
7413      no
10309     no
        ...
4807     yes
6582      no
1746     yes
3347     yes
3932     yes
Name: deposit, Length: 2233, dtype: object

In [36]:
from sklearn.metrics import accuracy_score
accuracy=accuracy_score(ypred,y_test)

In [37]:
accuracy

0.7962382445141066

In [38]:
lr.predict(ct.transform([["no",733,"no","no","unknown",16,"jun",83,4,-1,0,"unknown"]]))

array(['no'], dtype=object)

In [39]:
lr.predict(ct.transform([["no",2343,"yes","no","unknown",5,"may",1042,1,-1,0,"unknown"]]))

array(['yes'], dtype=object)